<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      BookMart
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/icon.png" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>
    Book Mart is a an hybrid app developed by Mr.Vinit Vilas Sawant.
    <br>
    <br>
    Book Mart offers selective home delivery of books for readers.
    <br>
    <br>
    Mode of payment for now is Cash Delivery.
    <br>
  </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  

  
  </ion-content>

<ion-footer>
  <ion-toolbar >
    <ion-title>
    ©BookMart.inc
    </ion-title>
  </ion-toolbar>
</ion-footer>